img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#map {
  
  height: 500px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%
}